<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Single Post</title>
</head>

<body>
    <h1>Single post page</h1>
    <%- include('./partials/navbar.ejs') %>
        <div class="singlepostSelected">
            <h2>
                <%= posts.title %>
            </h2>
            <div class="content">
                <p>
                    <%= posts.body %>
                </p>
            </div>
            <div class="foot">
                <div class=footDelete>
                    <a class="delete" data-del="<%= posts.id %>">Delete</a>
                </div>
                <div id=likeButton class=footLike>
                    <a id="like">Like</a>
                    <input type="text" id="likeCount" disabled="disabled" value=<%=posts.likes%>>
                </div>
            </div>

        </div>
        <script>
            const delreq = document.querySelector('a.delete');
            delreq.addEventListener('click', (e) => {
                const endpoint = `/posts/${delreq.dataset.del}`;
                fetch(endpoint, {
                    method: 'DELETE',
                }).then(window.location.href = '/posts')
            });

            var post_id = "<%= posts.id%>";
            console.log(post_id);
            const likebtn = document.querySelector('a#like');
            likebtn.addEventListener('click', (e) => {
                console.log("like button pressed");
                incrementValue();
                const endpoint = '/singlepost/' + post_id;
                fetch(endpoint, {
                    method: 'PUT'
                })
            }, { once: true });

            function incrementValue() {
                console.log("incrementing like");
                var value = parseInt(document.getElementById('likeCount').value, 10);
                value = isNaN(value) ? 0 : value;
                value++;
                document.getElementById('likeCount').value = value;
                document.getElementById('likeButton').setAttribute("style", "background-color: lightblue;");

            }
        </script>
        <%- include('./partials/footer.ejs') %>
</body>

</html>